<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Please sign in to continue</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/signin.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <% if @message %>
        <div class="alert alert-danger" role="alert"><%= @message %></div>
      <% end %>
      <form class="form-signin" role="form" action="/login" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" name="username" value="username" class="form-control" placeholder="username" required autofocus>
        <input type="password" name="password" value="password" class="form-control" placeholder="password" required>
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>
  </body>
</html>
